.postDetail {
    border: 1px solid #ccc;
    border-radius: 0px 20px;
    box-shadow: 10px 12px 10px rgba(0, 0, 0, 0.666);
    padding: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 13%;
    max-width: 1000px;
    background-color: rgba(7, 6, 6, 0.332);
    text-align: center;
    width: 75%;
}

.image {
    width: 800px;
    height: 850px;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.02);
    box-shadow: 10px 12px 10px rgba(0, 0, 0, 0.666);
}

.authorCont {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.author {
    color: rgba(108, 47, 220, 0.876);
}

.selftext {
    font-size: 1.25rem;
}

.description {
    margin-bottom: 10px;
    color: #fdfffff6;
    text-shadow: 1px 1px 1px black;
    white-space: pre-line; /* preserves line breaks */
    line-height: 1.5;
}

.stats {
    font-size: 1.25rem;
}

@media screen and (max-width: 1101px) {
    .image {
        width: 700px;
        height: 700px;
    }
}

@media screen and (max-width: 901px) {
    .image {
        width: 600px;
        height: 550px;
    }
}

@media screen and (max-width: 801px) {
    .image {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 701px) {
    .image {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 501px) {
    .image {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 401px) {
    .image {
        width: 275px;
        height: 275px;
    }
}

@media screen and (max-width: 351px) {
    .image {
        width: 200px;
        height: 200px;
    }
}