.post {
    text-align: center;
    width: 75%;
    margin-left: 13%;
    border-radius: 0px 20px;
}

.footer {
    text-align: center;
    width: 75%;
    margin-top: 3%;
    margin-bottom: 1.5%;
    margin-left: 13%;
}